<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - WebChatServer</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Home/Register">Register</a></li>
                @if (Context.Session.GetString("Username") == null)
                {
                    <li><a href="/Home/Login">Login</a></li>
                }
                else
                {
                    <li><a href="/Home/Logout">Logout</a></li>
                }
                <li><a href="/Home/Chat">Chat</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <hr />
        <p>&copy; 2024 - WebChatServer - Le Trung Khang - 22123039</p>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
