@model List<WebChatServer.Models.ChatRoomModel>

@section Styles {
    <link rel="stylesheet" href="~/css/chat.css" />
}

<div class="chat-page">
    <h2>Phòng chat</h2>
    <ul>
        @foreach (var room in Model)
        {
            <li>
                @room.Name - @if (room.IsOnline)
                {
                    <span>Trực tuyến</span>
                }
                else
                {
                    <span>Ngoại tuyến</span>
                }
                <a href="/Home/ChatRoom/@room.Id">Vào phòng</a>
            </li>
        }
    </ul>
</div>
