@model WebChatServer.Models.LoginModel

<div class="container">
    <h2>Đăng nhập</h2>

    <form method="post" action="/Auth/Login">
        <div>
            <label asp-for="Username">Tên người dùng:</label>
            <input asp-for="Username" />
        </div>
        <div>
            <label asp-for="Password">Mật khẩu:</label>
            <input asp-for="Password" type="password" />
        </div>
        <button type="submit">Đăng nhập</button>
    </form>
    @if (TempData["ErrorMessage"] != null)
    {
        <div>
            <p style="color:red">@TempData["ErrorMessage"]</p>
        </div>
    }
</div>
